{% extends './index/base.html' %}

<!-- Main -->
<div id="main">
	{% block post%}
	<!-- Post -->
	<article class="post">
		
		<header>
			<div class="title">
				<h2>
					<a href="#">{{contents.title}}</a>
				</h2>
				<p>{{contents.tag_name}}</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{contents.post_time}}</time>
				<a href="#" class="author">
					<span class="name">{{contents.author}}</span>
					<img src="/images/avatar.jpg" alt="" />
				</a>
			</div>
		</header>
		<span class="image featured">
			<img src="/images/pic01.jpg" alt="" />
		</span>
		{{contents.content}}
		<footer>
			<ul class="stats">
				<li>
					<a href="#">{{contents.classify_name}}</a>
				</li>
				<li>
					<a href="#" class="icon fa-heart">28</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">128</a>
				</li>
			</ul>
		</footer>
	</article>
	{% endblock %}

</div>
{% block sidebar %}{% endblock %}