{% extends "./index/base.html" %} {% block post %}

<!-- Post -->
{%for content in contents %}
<article class="post">
	<header>
		<div class="title">
			<h2>
				<a href="#">{{content.title | safe}}</a>
			</h2>
			<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
		</div>
		<div class="meta">
			<time class="published" datetime="2015-10-25">{{content.post_time}}</time>
			<a href="#" class="author">
				<span class="name">{{content.author| safe}}</span>
				<img src="/images/avatar.jpg" alt="" />
			</a>
		</div>
	</header>
	<a href="#" class="image featured">
		<img src="/images/pic02.jpg" alt="" />
	</a>
	{{content.content|striptags|truncate(100, True)}}
	<footer>
		<ul class="actions">
			<li>
				<a href="{{url('post_url',id=content.id)}}" class="button big">Continue Reading</a>
			</li>
		</ul>
		<ul class="stats">
			<li>
				<a href="#">{{content.classify_name}}</a>
			</li>
			<li>
				<a href="#" class="icon fa-heart">{{content.like}}</a>
			</li>
			<li>
				<a href="#" class="icon fa-comment">128</a>
			</li>
		</ul>
	</footer>
</article>

{% endfor %} 
<!-- Pagination -->
<ul class="actions pagination">
									
	{% if count==1 %}
	
	<li><a href="{{url('page_url',count=count)}}" class="disabled button big previous">Previous Page</a></li>
	{% else %}
	
	<li><a href="{{url('page_url',count=count-1)}}" class=" button big previous">Previous Page</a></li>
	{% endif %}
	
	{% if count<max_count %}
	<li><a href="{{url('page_url',count=count+1)}}" class="button big next">Next Page</a></li>
	{% else %}
	<li><a href="{{url('page_url',count=count+1)}}" class="disabled button big next">Next Page</a></li>
	{% endif %}
	
	
</ul>

{% endblock %}
