
.control-label{
    line-height: 34px;
}

.form-group {
    padding: 15px;


}
@keyframes fade-in {  
    0% {opacity: 0;width: 0%;}/*初始状态 透明度为0*/  
    40% {opacity: 0;width: 5%;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;width: 10%;}/*结束状态 透明度为1*/  
}  
.panel-subtitles{
    width: 10%;
    overflow: hidden;
    white-space:nowrap; 
    border-bottom: 2px solid transparent;
    border-bottom-color: #00AAFF;
    animation: fade-in;/*动画名称*/  
    animation-duration: 2.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
    
}

#wrapper > div.main > div > div > div > div > div > div.panel-body > table > tbody > tr > td {
    line-height: 25px;

}
#wrapper > div.main > div > div > div > div > div > div.panel-body > form > div:nth-child(4) > div:nth-child(2) > input{
    outline: none;
}

.check-switch{
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 40px;
    background-color:rgb(194, 187, 187);
    outline: none;
    line-height: 34px;
    border-radius: 10px;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    
}
.check-switch:checked{
    background-color:rgba(0, 170, 255, 0.479)
    
    
}
.check-switch::before{
    content: '';
    height: 19px;
    width: 19px;
    left: 15px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: #dfdfdf 0 0 0 0 inset;

}
.check-switch:checked::before{
   
    left: 35px;
    background-color: #00AAFF;
    
}

.check-tag{
    -webkit-appearance: none;
    
   
    
}
input[class='check-tag']:focus{
    outline: none;
}

.check-tag::before{
    height: 35px;
    content: attr(tag_name);
    width: 70px;
    background-color:rgb(255, 255, 255);
    outline: none;
    line-height: 35px;
    border-radius: 3px;
    box-shadow: #aaa7a7 0 0 0 0 inset;
    border-color: #aaa7a7;
    border-width: 1px;
    border-style: solid;
    display: block;
    text-align: center;

    
    

}
.check-tag:checked::before{
    
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);

}
